<div *ngIf="currentChildComponent===null">
  <div class="container" *ngIf="update; else editDetails">
    <div class="card">
      <div class="card-body bom-config">
          <div class="card-header">
            <h1>Product Details</h1>
          </div>
          <div class="user-details card-header">
   
            <div class="editdetails" >
              <div class="edit btn btn-primary" title="Edit" (click)="onEdit()" ><i class="fa-solid fa-pen-to-square"></i>Edit</div>
              <div class="edit btn btn-primary" title="Delete" (click)="onDelete()"><i class="fa-solid fa-trash"></i>Delete</div>
              <div class="edit btn btn-danger" title="Back" (click)="onBack()"><i class="fa-solid fa-circle-left"></i>Back</div>

              </div>
             
          </div>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()"  >
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="productId">Product Id:</label>
         
         {{data.productId}} 
        </div><br>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="productidType">Productid Type:</label>
         
         {{data.productidType}} 
        </div><br>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="skuNumber">Sku Number:</label>
         
         {{data.skuNumber}} 
        </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="productName">product Name</label>{{data.productName}} 
            <!-- <div class="col-sm-10"> -->
             <!-- <p> {{data.vendorName}}  </p> -->

            <!-- </div> -->
          </div><br>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="productShortDesc">Product Short Desc</label> {{data.productShortDesc}}
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="parentSkuId">Parent Sku Id</label>{{data.parentSkuId}}
              <!-- <div class="col-sm-10">
                 <p> {{data.parentSkuId}}  </p>

              </div> -->
            </div><br>
            
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="isReturnable">Returnable</label>{{data.isReturnable}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="maxOrdQty">Max Order Quantity</label> {{data.maxOrdQty}} 
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="maxAggShipQty">Max Agg Shipping Qty</label> {{data.maxAggShipQty}} 
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="preOrdLaunchDt">PreOrder Launch Date</label> {{data.preOrdLaunchDt}}  
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="preOrdEndDt">PreOrder End Date</label>{{data.preOrdEndDt}} 
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="preOrdQty">PreOrder Quantity</label> {{data.preOrdQty}}  
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="preOrdRelDt">PreOrder Release Date</label>{{data.preOrdRelDt}}
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group  row">
              <label class="col-sm-2 col-form-label" for="isBackorder">Backorder</label>{{data.isBackorder}}
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="backOrderLimit">BackOrder Limit</label>{{data.backOrderLimit}}
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="shippingOptions">Shipping Options</label> {{data.shippingOptions}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="dimensions">Dimensions</label> {{data.dimensions}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="variantsAttributes">Variants Attributes</label> {{data.variantsAttributes}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="assetAttributes">Asset Attributes</label> {{data.assetAttributes}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="productAttributes">Product Attributes</label> {{data.productAttributes}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="discoveryAttributes">Discovery Attributes</label> {{data.discoveryAttributes}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="othersAttributies">Others Attributies</label> {{data.othersAttributies}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="legalAttributes">Legal Attributes</label> {{data.legalAttributes}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="isPreOrderAllow">PreOrder Allow</label> {{data.isPreOrderAllow}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="lowStockThreshold">Low Stock Threshold</label> {{data.lowStockThreshold}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="percentageType">Percentage Type</label> {{data.percentageType}}
              <!-- <div class="col-sm-10">
                  <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
            
    </form>
    </div>
    </div>
    </div>

    
<ng-template #editDetails> 
  <div class="headingdiv">
    <br><br><h1>Product Details</h1><br>
  </div>
  <div class="container">
   
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" (change)="formChange()" >
        <!-- <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="id">Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="id" formControlName="id"  readonly>
          </div>
         
        </div><br> -->

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="skuNumber">Sku Number<span class="lt-required ml-1">*</span></label>
          <!-- <div class="col-sm-10"> -->
              <input type="text" class="form-control" id="skuNumber" formControlName="skuNumber" readonly>
          <!-- </div> -->
        </div><br>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="productId">product Id<span class="lt-required ml-1">*</span></label>
          <!-- <div class="col-sm-10"> -->
            <input type="text" class="form-control" id="productId" formControlName="productId"  placeholder="productId" readonly>
          <!-- </div> -->
        </div><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="productidType">product Id Type<span class="lt-required ml-1">*</span></label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="productidType" formControlName="productidType" required>
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="productName">product Name<span class="lt-required ml-1">*</span></label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="productName" formControlName="productName" required>
            <!-- </div> -->
          </div><br>

          

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="parentSkuId">Parent Sku Id</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="parentSkuId" formControlName="parentSkuId">
            <!-- </div> -->
          </div><br>

          <div class="form-group row">
            <!-- <label class="col-sm-2 col-form-label" for="isReturnable">Returnable</label> -->
            <label class="col-sm-2 col-form-label" for="isReturnable">isReturnable<span class="lt-required ml-1">*</span></label>
            <div class="col-sm-10 radio">
                <!-- <input type="text" class="form-control" id="isReturnable" formControlName="isReturnable"placeholder="isReturnable" required> -->
                <input type="radio" class="" id="isReturnable_true" name="isReturnable" [checked]="updateForm.value.isReturnable" value="True" (change)="selectRadioButton('isReturnable',true)" required>
                  <label class="isReturnable" for="isReturnable_true">True</label><br>
                  <input type="radio" class="" id="isReturnable_false" name="isReturnable" [checked]="!updateForm.value.isReturnable" value="False" (change)="selectRadioButton('isReturnable',false)">
                  <label class="isReturnable" for="isReturnable_false">False</label><br>
            </div>
          </div><br>
          
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="maxOrdQty">maxOrder Quantity</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="maxOrdQty" formControlName="maxOrdQty">
            <!-- </div> -->
          </div><br>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="maxAggShipQty">Max Agg Shipping Qty</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="maxAggShipQty" formControlName="maxAggShipQty">
            <!-- </div> -->
          </div><br>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="preOrdLaunchDt">PreOrder Launch Date</label>
            <!-- <div class="col-sm-10"> -->
                <input type="date" class="form-control" id="preOrdLaunchDt" formControlName="preOrdLaunchDt" value="{{data.preOrdLaunchDt | date:'dd-MM-yyyy hh:mm'}}">
                <!-- <input [ngModel]="theDate | date:'yyyy-MM-dd'" type="date" name="theDate"/> -->
            <!-- </div> -->
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="preOrdEndDt">PreOrder End Date</label>
            <!-- <div class="col-sm-10"> -->
                <input type="datetime-local" class="form-control" id="preOrdEndDt" formControlName="preOrdEndDt">
            <!-- </div> -->
          </div><br>
          
          

          <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="status">Status</label>
                <input type="text" class="form-control" id="status" formControlName="status">
          </div><br> -->
         
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="preOrdQty">PreOrder Quantity</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="preOrdQty" formControlName="preOrdQty">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="preOrdRelDt">PreOrder Release Date</label>
            <!-- <div class="col-sm-10"> -->
                <input type="datetime-local" class="form-control" id="preOrdRelDt" formControlName="preOrdRelDt">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="">Backorder</label>
            <div class="col-sm-10 radio">
              <input type="radio" class="" id="isBackorder_true" name="isBackorder"  [checked]="updateForm.value.isBackorder" (change)="selectRadioButton('isBackorder',true)" value="true">
                <label class="isBackorder" for="isBackorder_true">True</label><br>
                <input type="radio" class="" id="isBackorder_false" name="isBackorder" [checked]="!updateForm.value.isBackorder" (change)="selectRadioButton('isBackorder',false)" value="false">
                <label class="isBackorder" for="isBackorder_false">False</label><br>
          </div>
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="backOrderLimit">BackOrder Limit</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="backOrderLimit" formControlName="backOrderLimit">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="shippingOptions">Shipping Options</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="shippingOptions" formControlName="shippingOptions">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="dimensions">Dimensions</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="dimensions" formControlName="dimensions">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="variantsAttributes">Variants Attributes</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="variantsAttributes" formControlName="variantsAttributes">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="assetAttributes">Asset Attributes</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="assetAttributes" formControlName="assetAttributes">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="productAttributes">Product Attributes</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="productAttributes" formControlName="productAttributes">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="discoveryAttributes">Discovery Attributes</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="discoveryAttributes" formControlName="discoveryAttributes">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="othersAttributes">Others Attributes</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="othersAttributes" formControlName="othersAttributes">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="legalAttributes">Legal Attributes</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="legalAttributes" formControlName="legalAttributes">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="isPreOrderAllow">PreOrder Allowed</label>
            <div class="col-sm-10 radio">
              <input type="radio" class="" id="isPreOrderAllow_true"  name="isPreOrderAllow" [checked]="updateForm.value.isPreOrderAllow" (change)="selectRadioButton('isPreOrderAllow',true)" value="True">
                <label class="isPreOrderAllow" for="isPreOrderAllow_true">True</label><br>
                <input type="radio" class="" id="isPreOrderAllow_false"  name="isPreOrderAllow" [checked]="!updateForm.value.isPreOrderAllow" (change)="selectRadioButton('isPreOrderAllow',false)" value="False">
                <label class="isPreOrderAllow" for="isPreOrderAllow_false">False</label><br>
          </div>
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lowStockThreshold">Low Stock Threshold</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="lowStockThreshold" formControlName="lowStockThreshold">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="percentageType">Percentage Type</label>
            <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="percentageType" formControlName="percentageType">
            <!-- </div> -->
          </div><br>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="productShortDesc">Product Short Description</label>
            <!-- <div class="col-sm-10"> -->
                <textarea type="text" class="form-control" id="productShortDesc" formControlName="productShortDesc"></textarea>
            <!-- </div> -->
          </div><br>
          
          
          

          <div class="submitEdit">
            <div class="submitdiv">
              <button class="submit btn btn-primary" [disabled]="updateForm.invalid" (click)="onSubmit()" >Submit</button>
            </div>
            <div class="submitdiv">
              <button class="cancel btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
          </div>
      </form>
  </div>
 
</ng-template>

</div>
<section class="bodySection">
    
<ng-container *ngComponentOutlet="currentChildComponent"><h1></h1></ng-container>


</section>