  <div *ngIf="currentChildComponent===null">
      <div class="container" *ngIf="update; else editDetails">
        <div class="card">
          <div class="card-body bom-config">
              <div class="card-header">
                <h1>Supplier Details</h1>
              </div>
              <div class="user-details card-header">
       
                <div class="editdetails" >
                  <div class="edit btn btn-primary" title="Edit" (click)="onEdit()" ><i class="fa-solid fa-pen-to-square"></i>Edit</div>
                  <div class="edit btn btn-primary" title="Delete" (click)="onDelete()"><i class="fa-solid fa-trash"></i>Delete</div>
                  </div>
                 
              </div>
              <form [formGroup]="updateForm" (ngSubmit)="onSubmit()"  >
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="vendorCode">Vendor Code:</label>
             
             {{data.vendorName}} 
            </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="vendorName">Vendor Name</label>{{data.vendorName}} 
                <!-- <div class="col-sm-10"> -->
                 <!-- <p> {{data.vendorName}}  </p> -->
  
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="registrationNo">Registration No</label> {{data.registrationNo}}
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="status">Status</label>
                  <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div>
                </div><br> -->
                
                
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="phoneNumber">Phone Number</label>
                  <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div>
                </div><br> -->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="tax">Tax</label> {{data.tax}} 
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="emailAddress">Email Address</label> {{data.emailAddress}} 
                  <!-- <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="adminEmailId">Admin EmailId</label> {{data.adminEmailId}}  
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="shippingCost">Shipping Cost</label>{{data.shippingCost}} 
                  <!-- <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="paymentTerm">Payment Term</label> {{data.paymentTerm}}  
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="primaryContactNumber">Primary ContactNumber</label>{{data.primaryContactNumber}}
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <div class="form-group  row">
                  <label class="col-sm-2 col-form-label" for="secondaryContactNumber">Secondary ContactNumber</label>{{data.secondaryContactNumber}}
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="rmaPolicy">RMA Policy</label>{{data.rmaPolicy}}
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="address">Address</label> {{data.vendorName}}
                  <!-- <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
        </form>
        </div>
        </div>
        </div>
  
        
    <ng-template #editDetails> 
      <div class="headingdiv">
        <br><br><h1>Update Supplier</h1><br>
      </div>
      <div class="container">
       
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" (change)="formChange()" >
            <!-- <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="id">Id</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="id" formControlName="id"  readonly>
              </div>
             
            </div><br> -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="vendorName">Vendor Name</label>
              <!-- <div class="col-sm-10"> -->
                <input type="text" class="form-control" id="vendorName" formControlName="vendorName"  placeholder="Vendor Name">
              <!-- </div> -->
            </div><br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="registrationNo">Registration No</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="registrationNo" formControlName="registrationNo">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="status">Status</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="status" formControlName="status">
                <!-- </div> -->
              </div><br>
             
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="address">Address</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="address" formControlName="address">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="phoneNumber">Phone Number</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="emailAddress">Email Address</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="emailAddress" formControlName="emailAddress">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="shippingCost">Shipping Cost</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="shippingCost" formControlName="shippingCost">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="tax">Tax</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="tax" formControlName="tax">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="vendorCode">Vendor Code</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="vendorCode" formControlName="vendorCode" readonly>
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="paymentTerm">Payment Term</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="paymentTerm" formControlName="paymentTerm">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="rmaPolicy">RMA Policy</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="rmaPolicy" formControlName="rmaPolicy">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="adminEmailId">Admin EmailId</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="adminEmailId" formControlName="adminEmailId">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="primaryContactNumber">Primary ContactNumber</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="primaryContactNumber" formControlName="primaryContactNumber">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="secondaryContactNumber">Secondary ContactNumber</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="secondaryContactNumber" formControlName="secondaryContactNumber">
                <!-- </div> -->
              </div>
   
              <div class="submitEdit">
                <div class="submitdiv">
                  <button class="submit btn btn-primary" (click)="onSubmit()" >Submit</button>
                </div>
                <div class="submitdiv">
                  <button class="cancel btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
              </div>
          </form>
      </div>
     
    </ng-template>

  </div>
  <section class="bodySection">
        
    <ng-container *ngComponentOutlet="currentChildComponent"><h1></h1></ng-container>
    

  </section>