<!-- <h1>createcustomer</h1> -->
<div>
    <div class="container" *ngIf="saveToggle">
  
      <div class="card">
        <div class="card-body bom-config">
            <div>
              <h1>Customer Creation</h1>
            </div>
      
        <form [formGroup]="createForm" >
            
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="customerCode">Customer Code</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="customerCode" formControlName="customerCode"  placeholder="Customer Code">
              </div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="title">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" formControlName="title" placeholder="title">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="firstName">firstName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="FirstName">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="lastName">last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="LastName">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="midddleName">midddleName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="midddleName" formControlName="midddleName"placeholder="MidddleName">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="gender">gender</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="gender" formControlName="gender" placeholder="Shipping Cost">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email">email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" formControlName="email" placeholder="EmailId">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="mobileNum">mobile Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mobileNum" formControlName="mobileNum" placeholder="MobileNumber">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="phoneNum">phone Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phoneNum" formControlName="phoneNum" placeholder="Phone Number">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="dob">dob</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dob" formControlName="dob" placeholder="dob">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="source">source</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="source" formControlName="source" placeholder="source">
                </div>
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="defaultPaymemetGateway">defaultPaymemetGateway</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="defaultPaymemetGateway" formControlName="defaultPaymemetGateway" placeholder="Primary ContactNumber">
                </div>
              </div><br>
              
    
              <div class="submitEdit">
                <div class="submitdiv">
                  <button class="submit btn btn-primary" (click)="onSubmit()" >Submit</button>
                </div>
                <div class="submitdiv">
                  <button class="cancel btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
              </div>
          </form>
          </div>
          </div>
      </div>
      <section class="bodySection">
        <ng-container *ngComponentOutlet="currentChildComponent"><h1></h1></ng-container>
        
      </section>
</div>