
<div *ngIf="currentChildComponent===null">
    <div class="container" *ngIf="update; else editDetails">
      <div class="card">
        <div class="card-body bom-config">
            <div class="card-header">
              <h1>Customer Details</h1>
            </div>  
      <!-- <div class="main">
          <div class="headingdiv">
            <br><br><h1>Editing Details</h1><br><br>
          </div> -->
          <div class="user-details card-header">
           
            <div class="editdetails" >
              <div class="edit btn btn-primary" title="Edit" (click)="onEdit()" ><i class="fa-solid fa-pen-to-square"></i>Edit</div>
              <div class="edit btn btn-primary" title="Delete" (click)="onDelete()"><i class="fa-solid fa-trash"></i>Delete</div>
              <div class="edit btn btn-danger" title="Back" (click)="onBack()"><i class="fa-solid fa-circle-left"></i>Back</div>
            </div>
             
          </div>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()"  >
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="customerCode">Customer Code:</label>
             
             {{data.customerCode}} 
            </div><br>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="title">Title:</label> {{data.title}} 
              <!-- <div class="col-sm-10">
                 <p> {{data.vendorName}}  </p>

              </div> -->
            </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="firstName">First Name:</label>{{data.firstName}} 
                <!-- <div class="col-sm-10"> -->
                 <!-- <p> {{data.vendorName}}  </p> -->
  
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="lastName">Last Name</label> {{data.lastName}}
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="status">Status</label>
                  <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div>
                </div><br> -->
                
                
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="phoneNumber">Phone Number</label>
                  <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div>
                </div><br> -->
                
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="midddleName">Midddle Name:</label> {{data.midddleName}} 
                  
                </div><br> -->
               
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="primaryEmailId">Primary EmailId:</label>{{data.primaryEmailId}} 
                  <!-- <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="secondaryEmailId">Secondary EmailId:</label>{{data.secondaryEmailId}} 
                  <!-- <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="primaryContactNumber">Primary Contact Number:</label> {{data.primaryContactNumber}}  
                  
                </div><br>
                
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="secondaryContactNumber">Secondary Contact Number:</label>{{data.secondaryContactNumber}}
                 
                </div><br>
                <!-- <div class="form-group  row">
                  <label class="col-sm-2 col-form-label" for="dob">DOB:</label>{{data.dob}}
                  
                </div><br> -->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="gender">Gender:</label> {{data.gender}}  
                 
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="taxExempt">Tax Exempt:</label>{{data.taxExempt}}
                  
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="source">Source:</label>{{data.source}}
                  <!-- <div class="col-sm-10">
                     <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="defaultPaymentGateway">Default Payment Gateway:</label> {{data.defaultPaymentGateway}}
                  <!-- <div class="col-sm-10">
                      <p> {{data.vendorName}}  </p>
  
                  </div> -->
                </div><br>
        </form>
          
        </div>
        </div>
        <!-- <div class="main">
          <div class="user-details">
            <div class="username">
              
            </div>
            <div class="editprofile" (click)="onEditProfile()">
              <div class="edit">edit profile</div>
            </div>
          </div>
      
          <div class="about">
            <ul>
              <li *ngFor="let item of data; let column; of: columns">
                <div class="valuepair">
                  <p>{{ item[column] }}</p>
                  <p>{{ item }}</p>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <ng-template #editDetails>
        <!-- <div class="container">
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <table>
              <tr class="form-group">
                <td><label for="formGroupExampleInput">Id</label></td>
                <td><input type="text" id="formGroupExampleInput" class="form-control" formControlName="id" readonly /></td>
              </tr>
      
              <tr>
                <td><label for="">Vendor Name</label></td>
                <td><input type="text" formControlName="vendorName" /></td>
              </tr>
              <tr>
                <td><label for="">Registration No</label></td>
                <td><input type="text" formControlName="registrationNo" /></td>
              </tr>
              <tr>
                <td><label for="">Status</label></td>
                <td><input type="text" formControlName="status" /></td>
              </tr>
              <tr>
                <td><label for="">Email Id</label></td>
                <td><input type="text" formControlName="emailAddress" /></td>
              </tr>
      
              <tr>
                <td><label for="">Date Of Birth</label></td>
                <td><input type="text" formControlName="dateOfBirth" readonly /></td>
              </tr>
              <tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr>
              <tr>
                <td></td>
                <td><input type="submit" /></td>
              </tr>
            </table>
          </form>
        </div>  -->
    
        <div class="headingdiv">
          <br><br><h1>Customer Details</h1><br>
        </div>
        <div class="container">
         
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" (change)="formChange()" >
              <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="id">Id</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id" formControlName="id"  readonly>
                </div>
                
              </div><br> -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="customerCode">Customer Code<span class="lt-required ml-1">*</span></label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="customerCode" formControlName="customerCode" required readonly>
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="title">Title</label>
                <!-- <div class="col-sm-10"> -->
                    <input type="text" class="form-control" id="title" formControlName="title">
                <!-- </div> -->
              </div><br>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="firstName">First Name<span class="lt-required ml-1">*</span></label>
                <!-- <div class="col-sm-10"> -->
                  <input type="text" class="form-control" id="firstName" formControlName="firstName"  placeholder="First Name" required>
                <!-- </div> -->
              </div><br>
              
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="status">Status</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="status" formControlName="status">
                  </div>
                </div><br> -->
                
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="lastName">Last Name</label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="text" class="form-control" id="lastName" formControlName="lastName">
                  <!-- </div> -->
                </div><br>
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="midddleName">Midddle Name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="midddleName" formControlName="midddleName">
                  </div>
                </div><br> -->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="primaryEmailId">Primary EmailId<span class="lt-required ml-1">*</span></label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="email" class="form-control" id="primaryEmailId" formControlName="primaryEmailId" required>
                  <!-- </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="secondaryEmailId">Secondary EmailId<span class="lt-required ml-1">*</span></label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="email" class="form-control" id="secondaryEmailId" formControlName="secondaryEmailId" required>
                  <!-- </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="primaryContactNumber">Primary Contact Number<span class="lt-required ml-1">*</span></label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="tel" class="form-control" id="primaryContactNumber" formControlName="primaryContactNumber" required>
                  <!-- </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="secondaryContactNumber">Secondary Contact Number</label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="tel" class="form-control" id="secondaryContactNumber" formControlName="secondaryContactNumber">
                  <!-- </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="gender">Gender</label>
                  <!-- <div class="col-sm-10"> -->
                    <input type="radio" class="" id="gender" formControlName="gender" value="Male">
                    <label for="male">Male</label><br>
                    <input type="radio" class="" id="gender" formControlName="gender" value="Female">
                    <label for="female">Female</label><br>
                    <input type="radio" class="" id="gender" formControlName="gender" value="Other">
                    <label for="other">Other</label><br>
                <!-- </div> -->
                </div><br>
                
                
                <!-- <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="dob">DOB</label>
                  <div class="col-sm-10">
                      <input type="date" class="form-control" id="dob" formControlName="dob">
                  </div>
                </div><br> -->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="source">source</label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="text" class="form-control" id="source" formControlName="source">
                  <!-- </div> -->
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="defaultPaymentGateway">Default Payment Gateway</label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="text" class="form-control" id="defaultPaymentGateway" formControlName="defaultPaymentGateway">
                  <!-- </div> -->
                </div><br>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="taxExempt">Tax Exempt</label>
                  <!-- <div class="col-sm-10"> -->
                      <input type="text" class="form-control" id="taxExempt" formControlName="taxExempt">
                  <!-- </div> -->
                </div><br>
                
      
                <div class="submitEdit">
                  <div class="submitdiv">
                    <button class="submit btn btn-primary" [disabled]="updateForm.invalid" (click)="onSubmit()" >Submit</button>
                  </div>
                  <div class="submitdiv">
                    <button class="cancel btn btn-danger" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
            </form>
        </div>
        
      </ng-template>
    </div>
      <section class="bodySection">
          
        <ng-container *ngComponentOutlet="currentChildComponent"><h1></h1></ng-container>
        
    
      </section>