.form-group,input, .submit{
    font-size: 15px;
    font-family: var(--bs-body-font-family);
}

.submitEdit{
    margin: 4% 0%;
    text-align: center;
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.submitdiv{
    padding: 4%;
}

.cancel{
    font-size: 15px;
    font-family: var(--bs-body-font-family);
}

.headingdiv{
    height: 10vh;
    display: flex;
    /* justify-content: center; */
    margin-left: 30%;
}

.form-group,form{
    display: flex;
    flex-wrap: wrap;
}
input,label{
    width: 40%;
}

.form-group{
    width: 50%;
    display: -webkit-inline-box;
}



/* Custom CSS for form and dynamic fieldsets */
.container {
    margin-top: 20px;
}
 
/* Style the card and its contents */
.card {
    margin-bottom: 20px;
    margin-top: 25px;
}

/* Styling for the form and controls */
form {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.card-header{
    display: flex;
    justify-content: center;
}

.lt-required{
    color: red;
}

.user-details{
    height: 30%;
    width: 100%;
    /* border: 2px solid purple; */
    display: flex;
    justify-content: end;

    .editdetails{
        height: 100%;
        width: 50%;
        /* border: 2px solid violet; */
        display: flex;
        align-items: center;
        justify-content: center;
        .edit{
            font-size: 15px;
            font-family: var(--bs-body-font-family);
            margin-left: 3%;
            height: 30px;
            width: 100px;
            /* border: 2px solid black; */
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
           
        }
    }
}