
<div *ngIf="currentChildComponent===null">
    <div class="container" *ngIf="update; else editDetails">
        <div class="main">
          <div class="headingdiv">
            <br><br><h1>Editing Details</h1><br><br>
          </div>
          <div class="user-details">
           
            <div class="editdetails" >
              <div class="edit btn btn-primary" title="Edit" (click)="onEdit()" ><i class="fa-solid fa-pen-to-square"></i>Edit</div>
              <div class="edit btn btn-primary" title="Delete" (click)="onDelete()"><i class="fa-solid fa-trash"></i>Delete</div>
              </div>
             
          </div>
      
          <div class="about">
            <ul class="about-list">
              
              <li>
                <div class="valuepair">
                  <p>Customer Code</p>
                  <p>{{data.customerCode}}</p>
                </div>
              </li>
      
              <li>
                <div class="valuepair">
                  <p>Customer First Name</p>
                  <p>{{data.firstName}} </p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Customer Last Name</p>
                  <p>{{data.lastName}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Status</p>
                  <p>{{data.status}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>title</p>
                  <p>{{data.title}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Customer midddle Name</p>
                  <p>{{data.midddleName}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>gender</p>
                  <p>{{data.gender}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Email</p>
                  <p>{{data.email}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Mobile Number</p>
                  <p>{{data.mobileNum}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Phone Number</p>
                  <p>{{data.phoneNum}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>DOB</p>
                  <p>{{data.dob}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Source</p>
                  <p>{{data.source}}</p>
                </div>
              </li>
              <li>
                <div class="valuepair">
                  <p>Default Payment Gateway</p>
                  <p>{{data.defaultPaymentGateway}}</p>
                </div>
              </li>
              
              
            </ul>
          </div>
        </div>
        <!-- <div class="main">
          <div class="user-details">
            <div class="username">
              
            </div>
            <div class="editprofile" (click)="onEditProfile()">
              <div class="edit">edit profile</div>
            </div>
          </div>
      
          <div class="about">
            <ul>
              <li *ngFor="let item of data; let column; of: columns">
                <div class="valuepair">
                  <p>{{ item[column] }}</p>
                  <p>{{ item }}</p>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <ng-template #editDetails>
        <!-- <div class="container">
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <table>
              <tr class="form-group">
                <td><label for="formGroupExampleInput">Id</label></td>
                <td><input type="text" id="formGroupExampleInput" class="form-control" formControlName="id" readonly /></td>
              </tr>
      
              <tr>
                <td><label for="">Vendor Name</label></td>
                <td><input type="text" formControlName="vendorName" /></td>
              </tr>
              <tr>
                <td><label for="">Registration No</label></td>
                <td><input type="text" formControlName="registrationNo" /></td>
              </tr>
              <tr>
                <td><label for="">Status</label></td>
                <td><input type="text" formControlName="status" /></td>
              </tr>
              <tr>
                <td><label for="">Email Id</label></td>
                <td><input type="text" formControlName="emailAddress" /></td>
              </tr>
      
              <tr>
                <td><label for="">Date Of Birth</label></td>
                <td><input type="text" formControlName="dateOfBirth" readonly /></td>
              </tr>
              <tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr><tr>
                  <td><label for="">Email Id</label></td>
                  <td><input type="text" formControlName="emailId" /></td>
                </tr>
              <tr>
                <td></td>
                <td><input type="submit" /></td>
              </tr>
            </table>
          </form>
        </div>  -->
    
        <div class="headingdiv">
          <br><br><h1>Update Customer</h1><br>
        </div>
        <div class="container">
         
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" (change)="formChange()" >
              <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="id">Id</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id" formControlName="id"  readonly>
                </div>
                
              </div><br> -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="firstName">Customer First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="firstName" formControlName="firstName"  placeholder="First Name">
                </div>
              </div><br>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="customerCode">Customer Code</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="customerCode" formControlName="customerCode">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="status">Status</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="status" formControlName="status">
                  </div>
                </div><br>
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="title">Title</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="title" formControlName="title">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="lastName">Last Name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="lastName" formControlName="lastName">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="midddleName">Midddle Name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="midddleName" formControlName="midddleName">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="gender">Gender</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="gender" formControlName="gender">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="email">Email</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="email" formControlName="email">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="mobileNum">Mobile Number</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="mobileNum" formControlName="mobileNum">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="phoneNum">Phone Number</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="phoneNum" formControlName="phoneNum">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="dob">DOB</label>
                  <div class="col-sm-10">
                      <input type="date" class="form-control" id="dob" formControlName="dob">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="source">source</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="source" formControlName="source">
                  </div>
                </div><br>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="defaultPaymentGateway">Default Payment Gateway</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="defaultPaymentGateway" formControlName="defaultPaymentGateway">
                  </div>
                </div><br>
                
      
                <div class="submitEdit">
                  <button class="submit btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        
      </ng-template>
    </div>
      <section class="bodySection">
          
        <ng-container *ngComponentOutlet="currentChildComponent"><h1></h1></ng-container>
        
    
      </section>